In [1]:
import numpy as np #numerical computing
import pandas as pd #data manipulation and analysis

import warnings
warnings.filterwarnings('ignore')

In [2]:
#books,users and rating table
data=pd.read_excel('my_new.xlsx')

In [3]:
data.shape

(241932, 7)

In [4]:
data.head(7)

,Unnamed: 0,Book-Title,Edition,Book-Author,Image-URL-M,Reviews,Ratings
0,0.0,A Light in the Storm: The Civil War Diary of ...,English,Karen Hesse,http://images.amazon.com/images/P/0590567330.0...,4,1.125
1,1.0,Always Have Popsicles,English,Rebecca Harvin,http://images.amazon.com/images/P/0964147726.0...,1,0.000
2,2.0,Apple Magic (The Collector's series),English,Martina Boudreau,http://images.amazon.com/images/P/0942320093.0...,1,0.000
3,3.0,"Ask Lily (Young Women of Faith: Lily Series, ...",English,Nancy N. Rue,http://images.amazon.com/images/P/0310232546.0...,1,4.000
4,4.0,Beyond IBM: Leadership Marketing and Finance ...,English,Lou Mobley,http://images.amazon.com/images/P/0962295701.0...,1,0.000
5,5.0,Clifford Visita El Hospital (Clifford El Gran...,English,Norman Bridwell,http://images.amazon.com/images/P/0439188970.0...,1,0.000
6,6.0,Dark Justice,English,Jack Higgins,http://images.amazon.com/images/P/0399151788.0...,1,5.000

In [5]:
data.drop(['Unnamed: 0'],axis=1,inplace=True) #dropping unnecessary columns

In [6]:
data.isnull().sum()

Book-Title          0
Edition        239520
Book-Author       387
Image-URL-M    175541
Reviews            86
Ratings            86
dtype: int64

In [7]:
data = data.dropna(subset=['Image-URL-M'])

In [8]:
data.isnull().sum()

Book-Title         0
Edition        63992
Book-Author      387
Image-URL-M        0
Reviews           86
Ratings           86
dtype: int64

In [9]:
# Fill missing values in 'reviews' with zero
data['Reviews'].fillna(0, inplace=True)

In [10]:
data['Ratings'].fillna(0, inplace=True)

In [11]:
data['Book-Author'].fillna('Unknown', inplace=True)

In [12]:
data['Edition'].fillna('English', inplace=True)

In [13]:
data['Book-Title'].duplicated().sum() # check duplicates

52

In [14]:
data = data.drop_duplicates(subset=['Book-Title'], keep='first')#remove duplicates

In [15]:
data['Book-Title'].duplicated().sum()

0

In [16]:
data

,Book-Title,Edition,Book-Author,Image-URL-M,Reviews,Ratings
0,A Light in the Storm: The Civil War Diary of ...,English,Karen Hesse,http://images.amazon.com/images/P/0590567330.0...,4,1.125
1,Always Have Popsicles,English,Rebecca Harvin,http://images.amazon.com/images/P/0964147726.0...,1,0.000
2,Apple Magic (The Collector's series),English,Martina Boudreau,http://images.amazon.com/images/P/0942320093.0...,1,0.000
3,"Ask Lily (Young Women of Faith: Lily Series, ...",English,Nancy N. Rue,http://images.amazon.com/images/P/0310232546.0...,1,4.000
4,Beyond IBM: Leadership Marketing and Finance ...,English,Lou Mobley,http://images.amazon.com/images/P/0962295701.0...,1,0.000
...,...,...,...,...,...,...
241927,Pakharmaya Maruti Chitampalli,Marathi,Unknown,Pakharmaya Maruti Chitampalli/,27,4.700
241928,"Ananddayee Bagale Maruti Chitampalli [Jan 01, ...",Marathi,Unknown,"Ananddayee Bagale Maruti Chitampalli [Jan 01, ...",15,4.500
241929,"Suvarnagarud Maruti Chitampalli [Jan 01, 2013] …",Marathi,Unknown,"Suvarnagarud Maruti Chitampalli [Jan 01, 2013] …/",16,4.300
241930,"Shabdancha Dhan Maruti Chitampalli [Jan 01, 20...",Marathi,Unknown,"Shabdancha Dhan Maruti Chitampalli [Jan 01, 20...",8,4.500
241931,"Ranawata Maruti Chitampalli [Jan 01, 2013] …",Marathi,Unknown,"Ranawata Maruti Chitampalli [Jan 01, 2013] …/",44,4.500

In [17]:
data['Edition'].unique()

array(['English', 'Marathi', 'German', 'Tamil', 'Hindi'], dtype=object)

In [18]:
data.isnull().sum()

Book-Title     0
Edition        0
Book-Author    0
Image-URL-M    0
Reviews        0
Ratings        0
dtype: int64

In [19]:
data.shape

(66339, 6)

In [20]:
# Convert 'reviews' and 'ratings' columns to numeric types
data['Reviews'] = pd.to_numeric(data['Reviews'], errors='coerce')
data['Ratings'] = pd.to_numeric(data['Ratings'], errors='coerce')

# web-page01(all 190 books we can get)(filter:language)

In [21]:
#popularity (famous)based books
filtered_books = data[(data['Reviews'] > 100) & (data['Ratings'] >4)]

# Display the book names
print(filtered_books['Book-Title'])

241077                  Bandhawarchya Babhali : Gadima Book
241081                                          Chaughijani
241087    Dracula (Deluxe Hardbound Edition): A Timeless...
241088                  Dubai Gang by Surendra Mohan Pathak
241089    Duke of Ruin: A Historical Regency Romance Nov...
                                ...
241884                                       Ek Hota Carver
241887    Sudha Murty 3 books combo ( Marathi ) - Teen H...
241890    George Washington Carver: A Life From Beginnin...
241891                The Story of George Washington Carver
241903    The Law Of Attraction: Aakarshanacha Niyam Boo...
Name: Book-Title, Length: 190, dtype: object

In [22]:
import pickle

In [23]:
pickle.dump(filtered_books,open('filter.pkl','wb'))

In [24]:
#end here

In [25]:
#second part--->>>

In [26]:
data['Book-Author'].nunique() #37021unique value

37021

In [27]:
data['Edition_author']=data['Edition']+' '+data['Book-Author']

In [28]:
from sklearn.feature_extraction.text import TfidfVectorizer
# Initialize the TfidfVectorizer
tfidf = TfidfVectorizer(stop_words='english')
# Transform the Edition_Author column into a TF-IDF matrix
tfidf_matrix = tfidf.fit_transform(data['Edition_author'])

In [36]:
pickle.dump(tfidf_matrix,open('tfidf.pkl','wb'))

In [29]:

# Check the shape of the TF-IDF matrix
print(tfidf_matrix.shape)  # This should output (67000, number_of_features)

(66339, 23256)

In [30]:
!pip install fuzzywuzzy

Requirement already satisfied: fuzzywuzzy in c:\users\pj computers\anaconda3\anaconda1\lib\site-packages (0.18.0)

WARNING: Ignoring invalid distribution -illow (c:\users\pj computers\anaconda3\anaconda1\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\pj computers\anaconda3\anaconda1\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\pj computers\anaconda3\anaconda1\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\pj computers\anaconda3\anaconda1\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\pj computers\anaconda3\anaconda1\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\pj computers\anaconda3\anaconda1\lib\site-packages)

In [31]:
!pip install python-Levenshtein

Requirement already satisfied: python-Levenshtein in c:\users\pj computers\anaconda3\anaconda1\lib\site-packages (0.25.1)
Requirement already satisfied: Levenshtein==0.25.1 in c:\users\pj computers\anaconda3\anaconda1\lib\site-packages (from python-Levenshtein) (0.25.1)
Requirement already satisfied: rapidfuzz<4.0.0,>=3.8.0 in c:\users\pj computers\anaconda3\anaconda1\lib\site-packages (from Levenshtein==0.25.1->python-Levenshtein) (3.9.6)

WARNING: Ignoring invalid distribution -illow (c:\users\pj computers\anaconda3\anaconda1\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\pj computers\anaconda3\anaconda1\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\pj computers\anaconda3\anaconda1\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\pj computers\anaconda3\anaconda1\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\pj computers\anaconda3\anaconda1\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\pj computers\anaconda3\anaconda1\lib\site-packages)

In [33]:
from fuzzywuzzy import process
from sklearn.metrics.pairwise import linear_kernel

In [34]:
def get_fuzzy_recommendations(title, tfidf_matrix, data, top_n=10):
    # Use fuzzy matching to find the closest match in the dataset
    closest_match = process.extractOne(title, data['Book-Title'])
    
    # Extract the match title and score
    match_title = closest_match[0]
    match_score = closest_match[1]
    
    print(f"Closest match found: '{match_title}' with a score of {match_score}")
    
    # Get the index of the closest match
    idx = data[data['Book-Title'] == match_title].index[0]
    
    # Compute the cosine similarity for this book
    sim_scores = linear_kernel(tfidf_matrix[idx], tfidf_matrix).flatten()
    
    # Get the indices of the top N most similar books
    top_indices = sim_scores.argsort()[::-1][1:top_n + 1]
    
    # Retrieve the details of the top N most similar books
    top_books = data.iloc[top_indices][['Book-Title', 'Book-Author', 'Ratings', 'Reviews', 'Image-URL-M']]
    
    return top_books

# Example usage
try:
    recommendations = get_fuzzy_recommendations("Harry Potter", tfidf_matrix, data)
    print(recommendations)
except ValueError as e:
    print(e)

Closest match found: ' Harry Potter and the Bible: The Menace Behind the Magick (And the Bible Series)' with a score of 90
                                              Book-Title      Book-Author  \
12774  American Militias: Rebellion, Racism &amp; Rel...   Richard Abanes
41988  Cults, New Religious Movements, and Your Famil...   Richard Abanes
511                               101 Shaggy Dog Stories       E. Richard
41311  Critical Thinking: Tools for Taking Charge of ...  Richard W. Paul
538                           101 Uses for an Ex-Husband    Richard Smith
918                        2002 Days &amp; Nights of Sex    Richard Smith
40184                  Country Roads of Victoria 1989-90      Richard Lee
33490                                   Charity: Stories     Mark Richard
39454  Cookie Monster's Good Time to Eat (Golden Stur...    Richard Brown
329                              100 Words About Animals    Richard Brown

       Ratings  Reviews                                        Image-URL-M
12774     0.00      1.0  http://images.amazon.com/images/P/0830813683.0...
41988     0.00      1.0  http://images.amazon.com/images/P/0891079815.0...
511       0.00      1.0  http://images.amazon.com/images/P/0590404121.0...
41311     1.50      1.0  http://images.amazon.com/images/P/0130647608.0...
538       4.50      1.0  http://images.amazon.com/images/P/0446673722.0...
918       0.00      1.0  http://images.amazon.com/images/P/1579120458.0...
40184     0.00      1.0  http://images.amazon.com/images/P/0867881933.0...
33490     0.00      1.0  http://images.amazon.com/images/P/0385425627.0...
39454     2.25      2.0  http://images.amazon.com/images/P/030712259X.0...
329       0.00      1.0  http://images.amazon.com/images/P/0152005544.0...

In [ ]:
!pip uninstall pandas -y

In [ ]:
with open('data.pkl', 'wb') as f:
    pickle.dump(data, f)

with open('tfidf_matrix.pkl', 'wb') as f:
    pickle.dump(tfidf_matrix, f)