In [1]:
import numpy as np #numerical computing
import pandas as pd #data manipulation and analysis

import warnings
warnings.filterwarnings('ignore')

In [9]:
#books,users and rating table
df=pd.read_excel(r"C:\\Users\\PJ COMPUTERS\Desktop\\BOOK_Full\\my_new.xlsx")

In [10]:
df.shape

(241932, 7)

In [11]:
df.head(7)

,Unnamed: 0,Book-Title,Edition,Book-Author,Image-URL-M,Reviews,Ratings
0,0.0,A Light in the Storm: The Civil War Diary of ...,English,Karen Hesse,http://images.amazon.com/images/P/0590567330.0...,4,1.125
1,1.0,Always Have Popsicles,English,Rebecca Harvin,http://images.amazon.com/images/P/0964147726.0...,1,0.000
2,2.0,Apple Magic (The Collector's series),English,Martina Boudreau,http://images.amazon.com/images/P/0942320093.0...,1,0.000
3,3.0,"Ask Lily (Young Women of Faith: Lily Series, ...",English,Nancy N. Rue,http://images.amazon.com/images/P/0310232546.0...,1,4.000
4,4.0,Beyond IBM: Leadership Marketing and Finance ...,English,Lou Mobley,http://images.amazon.com/images/P/0962295701.0...,1,0.000
5,5.0,Clifford Visita El Hospital (Clifford El Gran...,English,Norman Bridwell,http://images.amazon.com/images/P/0439188970.0...,1,0.000
6,6.0,Dark Justice,English,Jack Higgins,http://images.amazon.com/images/P/0399151788.0...,1,5.000

In [12]:
df.drop(['Unnamed: 0'],axis=1,inplace=True) #dropping unnecessary columns

In [13]:
df.isnull().sum()

Book-Title          0
Edition        239520
Book-Author       388
Image-URL-M    175541
Reviews            86
Ratings            86
dtype: int64

In [14]:
df = df.dropna(subset=['Image-URL-M'])

In [15]:
df.isnull().sum()

Book-Title         0
Edition        63992
Book-Author      388
Image-URL-M        0
Reviews           86
Ratings           86
dtype: int64

In [16]:
# Fill missing values in 'reviews' with zero
df['Reviews'].fillna(0, inplace=True)

In [17]:
df['Ratings'].fillna(0, inplace=True)

In [18]:
df['Book-Author'].fillna('Unknown', inplace=True)

In [19]:
df['Edition'].fillna('English', inplace=True)

In [20]:
df['Book-Title'].duplicated().sum() # check duplicates

np.int64(52)

In [21]:
df= df.drop_duplicates(subset=['Book-Title'], keep='first')#remove duplicates

In [22]:
df['Book-Title'].duplicated().sum()

np.int64(0)

In [23]:
df

,Book-Title,Edition,Book-Author,Image-URL-M,Reviews,Ratings
0,A Light in the Storm: The Civil War Diary of ...,English,Karen Hesse,http://images.amazon.com/images/P/0590567330.0...,4,1.125
1,Always Have Popsicles,English,Rebecca Harvin,http://images.amazon.com/images/P/0964147726.0...,1,0.000
2,Apple Magic (The Collector's series),English,Martina Boudreau,http://images.amazon.com/images/P/0942320093.0...,1,0.000
3,"Ask Lily (Young Women of Faith: Lily Series, ...",English,Nancy N. Rue,http://images.amazon.com/images/P/0310232546.0...,1,4.000
4,Beyond IBM: Leadership Marketing and Finance ...,English,Lou Mobley,http://images.amazon.com/images/P/0962295701.0...,1,0.000
...,...,...,...,...,...,...
241927,Pakharmaya Maruti Chitampalli,Marathi,Unknown,Pakharmaya Maruti Chitampalli/,27,4.700
241928,"Ananddayee Bagale Maruti Chitampalli [Jan 01, ...",Marathi,Unknown,"Ananddayee Bagale Maruti Chitampalli [Jan 01, ...",15,4.500
241929,"Suvarnagarud Maruti Chitampalli [Jan 01, 2013] …",Marathi,Unknown,"Suvarnagarud Maruti Chitampalli [Jan 01, 2013] …/",16,4.300
241930,"Shabdancha Dhan Maruti Chitampalli [Jan 01, 20...",Marathi,Unknown,"Shabdancha Dhan Maruti Chitampalli [Jan 01, 20...",8,4.500
241931,"Ranawata Maruti Chitampalli [Jan 01, 2013] …",Marathi,Unknown,"Ranawata Maruti Chitampalli [Jan 01, 2013] …/",44,4.500

In [24]:
df['Edition'].unique()

array(['English', 'Marathi', 'German', 'Tamil', 'Hindi'], dtype=object)

In [25]:
df.isnull().sum()

Book-Title     0
Edition        0
Book-Author    0
Image-URL-M    0
Reviews        0
Ratings        0
dtype: int64

In [26]:
df.shape

(66339, 6)

In [27]:
# Convert 'reviews' and 'ratings' columns to numeric types
df['Reviews'] = pd.to_numeric(df['Reviews'], errors='coerce')
df['Ratings'] = pd.to_numeric(df['Ratings'], errors='coerce')

# web-page01(all 190 books we can get)(filter:language)

In [28]:
#popularity (famous)based books
filtered_books = df[(df['Reviews'] > 100) & (df['Ratings'] >4)]

# Display the book names
print(filtered_books['Book-Title'])

241077                  Bandhawarchya Babhali : Gadima Book
241081                                          Chaughijani
241087    Dracula (Deluxe Hardbound Edition): A Timeless...
241088                  Dubai Gang by Surendra Mohan Pathak
241089    Duke of Ruin: A Historical Regency Romance Nov...
                                ...
241884                                       Ek Hota Carver
241887    Sudha Murty 3 books combo ( Marathi ) - Teen H...
241890    George Washington Carver: A Life From Beginnin...
241891                The Story of George Washington Carver
241903    The Law Of Attraction: Aakarshanacha Niyam Boo...
Name: Book-Title, Length: 190, dtype: object

In [ ]:
#end here

In [ ]:
#second part--->>>

In [29]:
df['Book-Author'].nunique() #37021unique value

37020

In [30]:
df['Edition_author']=df['Edition']+' '+df['Book-Author']

In [32]:
from sklearn.feature_extraction.text import TfidfVectorizer

tfidf = TfidfVectorizer(stop_words='english')
tfidf_matrix = tfidf.fit_transform(df['Edition_author'])

In [ ]:
# Assuming tfidf_matrix is your TF-IDF matrix
ff = pd.DataFrame(tfidf_matrix.toarray())

# Save the DataFrame to a CSV file
ff.to_csv('tfidf_matrix.csv', index=False)

In [34]:
# Initialize the TfidfVectorizer
tfidf = TfidfVectorizer(stop_words='english')

# Transform the Edition_Author column into a TF-IDF matrix
tfidf_matrix = tfidf.fit_transform(df['Edition_author'])

# Check the shape of the TF-IDF matrix
print(tfidf_matrix.shape)  # This should output (67000, number_of_features)

(66339, 23256)

In [ ]:
!pip install fuzzywuzzy

Requirement already satisfied: fuzzywuzzy in c:\users\pj computers\anaconda3\anaconda1\lib\site-packages (0.18.0)

WARNING: Ignoring invalid distribution -illow (c:\users\pj computers\anaconda3\anaconda1\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\pj computers\anaconda3\anaconda1\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\pj computers\anaconda3\anaconda1\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\pj computers\anaconda3\anaconda1\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\pj computers\anaconda3\anaconda1\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\pj computers\anaconda3\anaconda1\lib\site-packages)

In [ ]:
!pip install python-Levenshtein

Requirement already satisfied: python-Levenshtein in c:\users\pj computers\anaconda3\anaconda1\lib\site-packages (0.25.1)

WARNING: Ignoring invalid distribution -illow (c:\users\pj computers\anaconda3\anaconda1\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\pj computers\anaconda3\anaconda1\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\pj computers\anaconda3\anaconda1\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\pj computers\anaconda3\anaconda1\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\pj computers\anaconda3\anaconda1\lib\site-packages)
WARNING: Ignoring invalid distribution -illow (c:\users\pj computers\anaconda3\anaconda1\lib\site-packages)

Requirement already satisfied: Levenshtein==0.25.1 in c:\users\pj computers\anaconda3\anaconda1\lib\site-packages (from python-Levenshtein) (0.25.1)
Requirement already satisfied: rapidfuzz<4.0.0,>=3.8.0 in c:\users\pj computers\anaconda3\anaconda1\lib\site-packages (from Levenshtein==0.25.1->python-Levenshtein) (3.9.6)

In [35]:
from fuzzywuzzy import process
from sklearn.metrics.pairwise import linear_kernel

def get_fuzzy_recommendations(title, tfidf_matrix, df, top_n=10):
    # Use fuzzy matching to find the closest match in the dataset
    closest_match = process.extractOne(title, df['Book-Title'])
    
    # Extract the match title and score
    match_title = closest_match[0]
    match_score = closest_match[1]
    
    print(f"Closest match found: '{match_title}' with a score of {match_score}")
    
    # Get the index of the closest match
    idx = df[df['Book-Title'] == match_title].index[0]
    
    # Compute the cosine similarity only for this book
    sim_scores = linear_kernel(tfidf_matrix[idx], tfidf_matrix).flatten()
    
    # Get the indices of the top N most similar books
    top_indices = sim_scores.argsort()[::-1][1:top_n + 1]
    
    # Return the top N most similar books
    return df['Book-Title'].iloc[top_indices]

# Example usage
try:
    recommendations = get_fuzzy_recommendations("Harry Potter", tfidf_matrix, df)
    print(recommendations)
except ValueError as e:
    print(e)

Closest match found: ' Harry Potter and the Bible: The Menace Behind the Magick (And the Bible Series)' with a score of 90
12774    American Militias: Rebellion, Racism &amp; Rel...
15        Harry Potter and the Bible: The Menace Behind...
511                                 101 Shaggy Dog Stories
41311    Critical Thinking: Tools for Taking Charge of ...
918                          2002 Days &amp; Nights of Sex
538                             101 Uses for an Ex-Husband
40184                    Country Roads of Victoria 1989-90
33490                                     Charity: Stories
34048                                 Chester's Last Stand
329                                100 Words About Animals
Name: Book-Title, dtype: object

In [37]:
import pickle

In [41]:
pickle.dump(df, open('df.pkl', 'wb'))

In [42]:
pickle.dump(tfidf_matrix, open('tf.pkl', 'wb'))